@import "tailwindcss";
@import "@fontsource/inter";

@theme {
  --color-mind-teal: #4DB6AC;
  --color-mind-blue: #81D4FA;
  --color-mind-orange: #FFB74D;

  --font-sans: 'Inter', sans-serif;

  --radius-3xl: 1.5rem;
  --radius-4xl: 2.5rem;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    @apply bg-gray-50 text-gray-800;
  }
}